body {
  background-color: var(--white);
}

main {
  margin-top: 50px;
  max-width: 1160px;
  margin-inline: auto;
}

.container{
  max-width: 1160px;
  margin-inline: 15px;
  @media (min-width: 1175px) {
    margin-inline: auto;
  }
}
