@import 'libs/bootstrap-reboot.min';

:root {
  --activeColor: #28B954;
  --activeColorOpacity: #28B95430;
  --white: #FFFFFF;
  --whiteGray: #F1F1F1;
  --lightGray: #A6A6A6;
  --gray: #646464;
  --grayBg: #F8F8F8;
  --black: #000000;
  --links: #2761B1;
}

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

html {
  &.unscroll {
    overflow: hidden;
  }
}

a, a:link, a:focus, a:hover, a:active {
  color: var(--black);
  text-decoration: none;
}

h1, h2 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

@import 'base/layout';

@import 'blocks/title';
@import 'blocks/swiper';

@import 'blocks/menu';
@import 'blocks/navbar';
@import 'blocks/catalog';
@import 'blocks/popular-min';
@import 'blocks/new-min';
@import 'blocks/news';

@import 'blocks/popular';
@import 'blocks/new';
@import 'blocks/mods';
@import 'blocks/mods-item';
@import 'blocks/maps';
@import 'blocks/maps-item';
@import 'blocks/file';

@import 'blocks/footer';

@import 'blocks/media';