@media (max-width: 1175px) {

}

@media (max-width: 600px) {
  .navbar {
    &__logo {
      width: 200px;
    }
    &__menu, &__search, &__avatar {
      display: none;
    }
    &__hamburger {
      display: block;
    }
  }
  .catalog {
    &__items {
      display: flex;
      overflow: scroll;
      gap: 10px;
      &::-webkit-scrollbar {
        display: none;
      }
    }
    &__item {
      &_name {
        font-size: 14px;
      }
    }
  }

  .popular-min {
    &__title {
      font-size: 20px;
    }
    &__all {
      font-size: 14px;
    }
  }

  .new-min {
    &__title {
      font-size: 20px;
    }
    &__all {
      font-size: 14px;
    }
  }

  .news {
    &__title {
      font-size: 26px;
    }
    &__item {
      width: 100%;
      &_icon {
        height: 300px;
      }
    }
  }
  .footer {
    &__name, &__mail {
      font-size: 12px;
    }
    &__links {
      display: none;
    }
  }
}

@media (max-width: 400px) {
  .popular-min, .new-min {
    &__title {
      font-size: 18px;
    }
    &__all {
      &_text {
        font-size: 12px
      }
    }
  }
  .news {
    &__item {
      &_icon {
        height: 200px;
      }
    }
  }
}
