.mods {
  &__blocks {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  &__leftblock {
    display: flex;
  }
  &__categories {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__category {
    padding: 12px 18px;
    width: 272px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 12px;
    border: 1px solid transparent;
    gap: 20px;
    &:hover {
      border-color: var(--whiteGray);
    }
    &.active {
      border-color: var(--whiteGray);
      background-color: var(--grayBg);
    }
  }

  &__adress {
    display: flex;
    padding-top: 14px;
    gap: 10px;
    align-items: center;

    a:last-child {
      color: var(--activeColor);
    }

    span:nth-last-child(2) {
      background-color: var(--activeColor);
    }

    a:hover {
      color: var(--activeColor);
    }

    span {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 100%;
      opacity: 0.5;
      background-color: var(--black);
    }
  }
  &__title {
    margin: 0;
    padding-top: 20px;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
  }
  &__subtitle {
    padding-top: 20px;
    font-size: 16px;
  }



  &__wrapper {
    padding-top: 50px;
  }
  &__filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
  }
  &__filter {
    display: flex;
    align-items: center;
    background-color: var(--grayBg);
    height: 53px;
    border-radius: 12px;
    cursor: default;
    position: relative;
    border: 1px solid var(--whiteGray);
    overflow: hidden;
    &:not(#search) {
      padding-left: 8px;
      &:hover {
        border: 1px solid var(--lightGray);
      }
      &:active, &:focus-within {
        border-color: rgb(38, 132, 255) !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
    &#category {
      display: none;
    }
    label {
      height: 100%;
      width: 100%;
      margin: 0;
    }
    &_input {
      height: 100%;
      width: 100%;
      padding-left: 20px;
      cursor: default;
      outline: none;
      border: none;
      background-color: var(--grayBg);
    }

    &_search {
      &-icon {
        padding-left: 20px;
        svg {
          fill: var(--activeColor);
        }
      }
      &-clear {
        padding-right: 20px;
        svg {
          stroke: var(--gray);
        }
      }
    }

    &_arrow {
      padding-right: 36px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 20px;
      width: 20px;
      &::before {
        position: absolute;
        content: '';
        height: 8px;
        width: 8px;
        border-top: 2px solid var(--activeColor);
        border-right: 2px solid var(--activeColor);
        transform: rotate(135deg);
      }
    }
  }



  &__items {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  &__item {
    display: flex;
    border-radius: 12px;
    background-color: var(--grayBg);
    flex-direction: column;
    height: 100%;
    width: 856px;
    border: 1px solid var(--whiteGray);
    &:hover {
      border-color: var(--lightGray);
    }
    &_top {
      display: flex;
      flex-direction: row;
      padding: 16px;
      gap: 20px;
    }
    &_icon {
      height: 108px;
      width: 108px;
      border-radius: 12px;
      overflow: hidden;
      img {
        object-fit: cover;
        height: 108px;
        width: 108px;
      }
    }
    &_text {
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      &-title {
        display: inline-block;
        font-size: 16px;
        line-height: 100%;
        width: 640px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-descr {
        display: -webkit-box;
        width: 640px;
        color: var(--gray);
        font-size: 14px;
        line-height: 100%;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-info {
        display: flex;
        align-items: center;
        flex-direction: row;
        font-size: 14px;
        line-height: 22px;
        gap: 16px;
        color: var(--gray);
        * {
          padding-left: 28px;
          background-size: 24px;
        }
        &-download {
          background: no-repeat url(../icons/download.svg) left;
        }
        &-updated {
          background: no-repeat url(../icons/updated.svg) left;
        }
        &-created {
          background: no-repeat url(../icons/created.svg) left;
        }
        &-size {
          background: no-repeat url(../icons/size.svg) left;
        }
        &-version {
          background: no-repeat url(../icons/version.svg) left;
        }
        &-loaders {
          padding: 0;
        }
      }
    }
    &_details {
      display: flex;
      align-items: center;
      gap: 8px;
      border-top: 1px solid var(--white);
      padding: 6px 16px 6px 16px;
      &-category {
        display: inline-block;
        font-size: 13px;
        padding-inline: 4px;
        border-radius: 2px;
        border: 1px solid var(--lightGray);
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          border: 1px solid var(--gray);
        }
        &-descr {
          color: var(--gray);
          font-size: 12px;
          line-height: 100%;
          border-bottom: 1px solid transparent;
          span:hover {
            color: var(--black);
            border-bottom: 1px solid var(--gray);
          }
          &:before {
            content: '|';
            margin-right: 8px;
          }
        }
      }
    }
  }

  &__pagination {
    padding-top: 50px;
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: row;
    padding-inline: 14px;
    gap: 20px;
    &_button {
      background-color: var(--gray);
      height: 22px;
      width: 22px;
      border-radius: 100%;
      position: relative;
      &:before {
        position: absolute;
        content: '';
        border: 6px solid transparent;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
      }
      &.prev {
        &:before {
          border-right: 6px solid var(--white);
          margin-right: 4px;
        }
      }
      &.next {
        &:before {
          border-left: 6px solid var(--white);
          margin-right: -4px;
        }
      }
      &.disabled {
        background-color: var(--lightGray);
      }
    }
  }
}