.mods-item {

  &__adress {
    display: flex;
    padding-top: 14px;
    gap: 10px;
    align-items: center;
    a:last-child {
      color: var(--activeColor);
    }
    span:nth-last-child(2) {
      background-color: var(--activeColor);
    }
    a:hover {
      color: var(--activeColor);
    }
    span {
      content: '';
      width: 4px;
      height: 4px;
      border-radius: 100%;
      opacity: 0.5;
      background-color: var(--black);
    }
  }

  &__blocks {
    padding-top: 40px;
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  &__leftblock {
    width: 727px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  &__img {
    margin: 0;
    border-radius: 12px;
    overflow: hidden;
    height: 410px;
    &:before, &:after {
      display: none;
    }
    &_item {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        object-fit: cover;
        width: 100%;
      }
    }
  }
  &__descr {
    width: 100%;
    padding-inline: 40px;
    border-radius: 12px;
    background-color: var(--grayBg);
    border: 1px solid var(--whiteGray);
    &_title, .hidden {
      display: flex;
      cursor: pointer;
      flex-direction: row;
      justify-content: space-between;
      height: 90px;
      align-items: center;
      font-size: 28px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        right: 20px;
        border-top: 2px solid var(--black);
        border-right: 2px solid var(--black);
        transform: rotate(-45deg);
      }
      &.hidden ~ .mods-item__descr_text {
        display: none;
      }
      &.hidden {
        &:after {
          transform: rotate(135deg);
        }
      }
    }
    &_text {
      color: var(--gray);
      font-size: 16px;
      padding-bottom: 40px;
    }
  }

  &__install {
    width: 100%;
    padding-inline: 40px;
    border-radius: 12px;
    background-color: var(--grayBg);
    border: 1px solid var(--whiteGray);
    &_title {
      display: flex;
      cursor: pointer;
      flex-direction: row;
      justify-content: space-between;
      height: 90px;
      align-items: center;
      font-size: 28px;
      position: relative;
      &:after {
        position: absolute;
        content: '';
        height: 15px;
        width: 15px;
        right: 20px;
        border-top: 2px solid var(--black);
        border-right: 2px solid var(--black);
        transform: rotate(-45deg);
      }
      &.hidden ~ .mods-item__install_list {
        display: none;
      }
      &.hidden {
        &:after {
          transform: rotate(135deg);
        }
      }
    }
    &_list {
      color: var(--gray);
      font-size: 16px;
      padding-bottom: 40px;
      padding-left: 20px;
      &-item {
        margin-bottom: 5px;
      }
    }
  }

  &__download {
    width: 100%;
    border-radius: 12px;
    background-color: var(--grayBg);
    border: 1px solid var(--whiteGray);
    &_title {
      display: flex;
      cursor: default;
      flex-direction: row;
      justify-content: space-between;
      height: 90px;
      align-items: center;
      font-size: 28px;
      padding-inline: 50px;
    }
    &_filters {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    &_version, &_loaders {
      display: inline-flex;
      align-items: center;
      background-color: var(--white);
      height: 53px;
      border-radius: 12px;
      cursor: default;
      position: relative;
      border: 1px solid var(--lightGray);
      overflow: hidden;
      &:hover {
        border: 1px solid var(--gray);
      }
      &:active, &:focus-within {
        border-color: rgb(38, 132, 255) !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
      label {
        display: inline-flex;
        align-items: center;
        height: 100%;
        margin: 0;
        padding-inline: 20px 30px;
        position: relative;
        &:after {
          position: absolute;
          content: '';
          height: 8px;
          width: 8px;
          right: 25px;
          border-top: 2px solid var(--activeColor);
          border-right: 2px solid var(--activeColor);
          transform: rotate(135deg);
        }
      }
      &-input {
        display: inline-flex;
        text-overflow: ellipsis;
        height: 100%;
        width: 130px;
        padding-left: 8px;
        cursor: default;
        outline: none;
        border: none;
        background-color: var(--white);
      }
    }
    &_versions {
      padding-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      &-filters {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 80px 100px 90px auto;
        gap: 10px;
        padding-inline: 50px;
      }
      &-filter {
        font-size: 15px;
        color: var(--lightGray);
      }
      &-list {
        display: inline-flex;
        flex-direction: column;
        margin: 0;
        margin-inline: 40px;
        padding: 0 0 30px 0;
        gap: 2px;
        &-item {
          list-style-type: none;
          display: inline-flex;
          flex-direction: column;
          gap: 8px;
          background-color: var(--white);
          padding: 14px 10px;
          border-radius: 12px;
          border: 1px solid var(--whiteGray);
          width: 100%;
          &:hover {
            border-color: var(--lightGray);
          }
        }
        &-title {
          display: grid;
          align-items: center;
          grid-template-columns: 1fr 80px 100px 90px auto;
          gap: 10px;
          font-size: 15px;
          line-height: 100%;
        }
        &-name {
          color: var(--links) !important;
          font-weight: 700;
          &:hover {
            color: var(--activeColor) !important;
          }
        }
        &-download {
          fill: var(--activeColor);
          text-align: center;
          width: 60px;
        }
        &-component {
          display: flex;
          flex-direction: row;
          gap: 20px;
          &-link {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
            font-size: 15px;
            line-height: 100%;
            color: var(--links);
            gap: 5px;
            &:hover {
              color: var(--links);
            }
            &:before {
              content: '+';
              font-size: 20px;
              font-weight: 600;
              color: red;
            }
            &:hover:before {
              color: var(--activeColor);
            }
          }
        }
      }
    }
  }



  &__mini {
    display: inline-flex;
    flex-direction: column;
    background-color: var(--grayBg);
    border-radius: 12px;
    border: 1px solid var(--whiteGray);
    overflow: hidden;
    width: 360px;
    position: relative;
    padding-bottom: 30px;
  }
  &__bg {
    height: 210px;
    background-image: url('../img/blur.jpg');
    background-size: cover;
    overflow: hidden;
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }
  &__icon {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 140px;
    right: 40px;
    border-radius: 12px;
    border: 1px solid var(--lightGray);
    background-image: url('../img/blur.jpg');
    background-size: cover;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__top {
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-inline: 20px;
  }
  &__title {
    &_name {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 5px;
    }
    &_category {
      font-size: 13px;
      font-weight: 500;
      border: 1px solid var(--whiteGray);
      border-radius: 2px;
      padding: 1px 5px;
      &:hover {
        border-color: var(--lightGray);
      }
    }
  }
  &__info {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    &_top, &_bottom {
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
    &_created, &_updated, &_download, &_latestversion, &_stats {
      cursor: default;
      background-color: var(--whiteGray);
      padding: 10px;
      border-radius: 12px;
      display: inline-flex;
      justify-content: space-around;
      flex-flow: column;
      white-space: nowrap;
      line-height: 100%;
      width: 100%;
      &-title {
        font-size: 13px;
      }
      &-descr {
        padding-top: 4px;
        font-size: 12px;
        color: var(--gray);
      }
    }
    &_download {
      cursor: pointer;
    }
    &_latestversion {
      align-items: flex-start;
      &-title {
        padding-bottom: 5px;
      }
      &-descr {
        display: flex;
        justify-content: left;
        background-color: var(--activeColorOpacity);
        line-height: 100%;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
    &_stats {
      display: flex;
      flex-direction: column;
      &-title {
        padding-bottom: 5px;
      }
      &-details {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 12px;
      }
      &-download {
        padding-left: 20px;
        background: no-repeat url('../icons/download.svg') left;
        background-size: contain;
      }
      &-views {
        padding-left: 20px;
        background: no-repeat url('../icons/views.svg') left;
        background-size: contain;
      }
    }
  }



  &__newversions {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: var(--grayBg);
    border: 1px solid var(--whiteGray);
    border-radius: 12px;
    padding: 20px;
    &_title {
      font-size: 22px;
    }
    &_versions {
      padding-top: 20px;
      display: inline-flex;
      flex-direction: column;
      &-list {
        margin: 0;
        padding: 0;
        display: inline-flex;
        flex-direction: column;
        gap: 5px;
        &-item {
          list-style-type: none;
          display: inline-flex;
          flex-direction: column;
          gap: 8px;
          background-color: var(--white);
          padding: 10px;
          border-radius: 12px;
          border: 1px solid var(--whiteGray);
          width: 100%;
          &:hover {
            border-color: var(--lightGray);
          }
          &-name {
            display: inline-flex;
            font-size: 16px;
            line-height: 100%;
            padding-bottom: 5px;
          }
          &-descr {
            display: flex;
            flex-direction: row;
            gap: 10px;
            font-size: 14px;
            line-height: 100%;
            align-items: center;
          }
          &-version {
            display: flex;
            justify-content: left;
            background-color: var(--activeColorOpacity);
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
          }
          &-size {
            padding-left: 18px;
            background: no-repeat url('../icons/download.svg') left;
            background-size: contain;
          }
          &-loaders {
            font-size: 12px;
          }
        }
      }
    }
  }
}